
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>


<%= form_for(@participation) do |f| %>
  <input id="parent_id" name="participation[goal_id]" type="hidden" value=<%= @goal.id %> />
  <input id="parent_id" name="participation[user_id]" type="hidden" value=<%= current_user.id %> />
  <input id="parent_id" name="participation[status]" type="hidden" value="Pending" />
  <!-- !flag can't get rails to nest the paramaiters inside participation -->
  <%#= hidden_field_tag(:goal_id, @goal.id) %>
  <%#= hidden_field_tag(:user_id, current_user.id) %>
  <%#= hidden_field_tag(:status, "Pending") %>
  <%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
