
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>

<h1>Participants</h1>
<% @participations.each do |participation| %>
  <div>
    <%= participation.user.username %> |
    <%= participation.status %>
  </div>
<% end %>

<% if current_user == @goal.leader %>
  <h1>Pending Requests</h1>
  <% @requests.pending.each do |request| %>
    <div>
      <%= link_to request.user.username, user_path(request.user)   %> |
      <%= link_to request.status, edit_request_path(request) %>
    </div>
  <% end %>
<% else %>
  <% if @goal_requested %>
    <p> Your request is pending </p>
  <% else %>
    <%= form_for(@request) do |f| %>
      <%= hidden_field_tag("request[goal_id]", @goal.id) %>
      <%= f.submit "Request to Join" %>
    <% end %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
