
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>



  <% @participations.each do |participation| %>
    <div>
      <%= participation.user.email %> |
      <%= participation.status %>
    </div>
  <% end %>



<%= form_for(@participation) do |f| %>
  <%= hidden_field_tag("participation[goal_id]", @goal.id) %>
  <%= hidden_field_tag("participation[user_id]", current_user.id) %>
  <%= hidden_field_tag("participation[status]", "Pending Request") %>
  <%= f.submit "Request to Join" %>
<% end %>



<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
